/*默认样式*/
select,
input,
textarea {
    background-color: #ffffff;
    box-sizing:border-box;
    outline: none;
}
/*带类名的样式*/
select.form-input,
input[type=text].form-input,
input[type=tel].form-input,
input[type=password].form-input,
textarea.form-input {
    display: block;
    width: 100%;
    color: #555;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.form-input {
    height: auto;
}

/*获得焦点样式*/
input[type=text].form-input:focus,
input[type=tel].form-input:focus,
input[type=password].form-input:focus,
select.form-input:focus,
textarea.form-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
/*不可点击的样式*/
select[readonly=readonly],
input[readonly=readonly],
select[disabled=disabled],
input[disabled=disabled],
input[type=checkbox][disabled],
textarea[readonly=readonly],
textarea[disabled=disabled] {
    cursor: not-allowed;
    background-color: #E5E5E5;
}
/*radio样式组*/
.radio-box, .checkbox, .checkbox-disabled {
    box-sizing: border-box;
    padding-top: 10px;
    float: left;
    overflow: hidden;
    line-height: 16px;
}
.radio-box {
    width: 50%;
}

.radio-box.three-inline {
    width: 33.33333%;
}

.radio {
    float: left;
}
.checkbox, .checkbox-disabled {
    margin-right: 5px;
}

.radio span,.checkbox span, .checkbox-disabled span{
    display:block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
}
.checkbox-fit-text {
    padding-top: 13px;
}
.radio span {
    background: url(../img/buttonsBg.png) no-repeat 1px -21px;
}
.radio span.checked {
    background: url(../img/buttonsBg.png) no-repeat -71px -21px;
}
.radio span.hover{
    background: url(../img/buttonsBg.png) no-repeat -17px -21px;
}
.radio span.checked.hover{
    background: url(../img/buttonsBg.png) no-repeat -89px -21px;
}
.checkbox span, .checkbox-disabled span {
    background: url(../img/buttonsBg.png) no-repeat 1px -2px;
}
.checkbox span.hover {
    background: url(../img/buttonsBg.png) no-repeat -18px -2px;
}
.checkbox span.checked, .checkbox-disabled span.checked {
    background: url(../img/buttonsBg.png) no-repeat -75px -2px;
}
.checkbox span.checked.hover {
    background: url(../img/buttonsBg.png) no-repeat -94px -2px;
}
.radio input, .checkbox input, .checkbox-disabled input {
    display: none;
}
/**/
.rows {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.rows .form-label {
    float: left;
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 34px;
    box-sizing: border-box;
}
.rows .form-label .require,em.require{
    color: red;
    padding-right: 5px;
}
.rows .form-label-text-center {
    text-align: center;
    padding: 0px;
}
.rows .register-label{
    color: #5DBCB6;
    font-size: 13px;
    text-align: left;
}
.rows .input-box {
    float: left;
    overflow: hidden;
}
.rows .register-input-box{
    float: right;
    box-sizing: border-box;
}
.error-text {
    margin-top: 5px;
    color: #a94442;
    text-align: left;
}
.prompt-text {
    margin-top: 5px;
    text-align: left;
}

.error-text-img {
    margin-top: 5px;
    color: #a94442;
    text-align: left;
}
.has-error .has-error-input input.form-input,
.has-error .has-error-input textarea.form-input{
    border: #a94442 solid 1px;
}

.rows .input-box {
    position: relative;
}
.rows .input-box i {
    color: #5dbcb6;
    display: block;
    font-size: 16px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 34px;
}
.rows .input-box .needBubbleTip i.fa{
    position: relative;
}
.rows .input-box .input-with-icon {
    padding-left: 33px;
}
.rows .input-box {
    padding-left: 15px;
    padding-right: 15px;
}
.has-error .has-error-input i {
    color: #F3565D;
}
.rows .col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.required {
    color: #e02222;
    font-size: 9pt;
    padding-left: 2px;
}
.rows .tip-text {
    text-align: left;
}

.rows .tip-text.green-tip {
    color: #4dbcb0;
}

/*布局相关*/
.col-1 {
     width:8.33333333%;
}
.col-1-5 {
    width:12.5%;
}
.col-2 {
    width:16.66666667%;
}
.col-2-5 {
    width:20.8333332%;
}
.col-3 {
    width:25%;
}
.col-4 {
    width:33.33333333%;
}
.col-5 {
    width:41.66666667%;
}
.col-6 {
    width:50%;
}
.col-7 {
    width:58.33333333%;
}
.col-8 {
    width:66.66666667%;
}
.col-9 {
    width:75%;
}
.col-10 {
    width:83.33333333%;
}
.col-11 {
    width:91.66666667%;
}
.col-12 {
    width:100%;
    position: relative;
}
.tagsInputBox {
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #555;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 6px 6px 6px;
    line-height: 1.42857143;
    border-radius: 5px;
    overflow: hidden;
}
span.tag {
    margin-right: 4px;
    margin-bottom: 2px;
    color: #fff;
    background-color: #89C4F4;
    text-shadow: none!important;
    font-size: 13px;
    font-weight: 300;
    padding: 3px 6px;
    float: left;
    border-radius: .25em;
}
span.tag a {
    color: #fff;
}
#departmentTags_addTag {
    float: left;
}
#departmentTags_tag {
    outline: none;
    height: 24px;
    border: 0px;
    background: transparent;
    color: #555;
}
/*ol提示文案*/
.rows ol {
    padding-left: 40px;
    padding-bottom: 10px;
    list-style: decimal;
}
.rows ol li{
    line-height: 18px;
}
/*登陆页的input*/
.rows .no-padding-box {
    padding: 0px;
}
.rows .input-box .input-with-border {
    border: 1px solid #6DC5C8;
}
input[type="text"].no-border-input,
input[type=tel].form-input,
input[type="password"].no-border-input,
.input-box select{
    width: 100%;
    height: 34px;
    border: #CCCCCC solid 1px;
    outline: none;
    box-shadow: none;
}
input[type="text"].no-border-input :focus {
    border: none;
    box-shadow: none;
}
.register-container input[type="text"].no-border-input,
.register-container input[type=tel].form-input,
.register-container input[type="password"].no-border-input,
.register-container .input-box select{
    border: none;
}

/*发送验证码*/
#code-send-btn, #send-code-btn,#code-send-btn {
    width: 120px;
}

/*管理员信息页特殊*/
.clear-pad-left{
    padding-left: 0px !important;
}
.clear-pad-right{
    padding-right:0px !important;
}
.clear-pad-right > input {
    border-radius: 4px 0px 0px 4px !important;
}
.clear-pad-left > button {
    border-radius: 0px 4px 4px 0px !important;
    line-height:26px;
}
#pop-change-mobile{
    display: none;
}

#pop-change-password{
    display: none;
}

.pop-account-setting-m{
    padding:15px 10px 0px;
}

.pop-account-setting-p{
    padding:15px 10px 25px;
}

.pop-remind{
    color:#ff0000;
    text-align: right;
}
.adimin-account{
    line-height: 34px;
}

/*管理员信息页特殊结束*/

/*仿ios slider switch*/
.checkbox-switch {
    position: relative;
    display: inline-block;
    width: 74px;
    height: 17px;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ddd;
    border-radius: 20px;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    margin:5px 15px;
    float: left;
}

.checkbox-switch.checkbox-disabled {
    opacity: .3
}

.checkbox-switch .checkbox-switch-handle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 16px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-property: -webkit-transform, width, left;
    transition-property: transform, width, left
}

.checkbox-switch:before {
    position: absolute;
    top: 3px;
    right: 11px;
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    content: "Off"
}

.checkbox-switch.checkbox-active {
    background-color: #76d95c;
    border-color: #76d95c
}

.checkbox-switch.checkbox-active .checkbox-switch-handle {
    -webkit-transform: translate(43px, 0);
    transform: translate(43px, 0)
}

.checkbox-switch.checkbox-active:before {
    right: auto;
    left: 15px;
    color: #fff;
    content: "On"
}

.checkbox-switch input[type=checkbox] {
    display: none
}

.checkbox-switch-mini {
    width: 43px
}

.checkbox-switch-mini:before {
    display: none
}

.checkbox-switch-mini.checkbox-active .checkbox-switch-handle {
    -webkit-transform: translate(27px, 0);
    transform: translate(27px, 0)
}

/* 分割线 */
.form-splitter {
    margin: 5px 0 ;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 0;
}
.back-to-top-box {
    position: fixed;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 23px;
    right: 20px;
    bottom: 20px;
    border: 2px solid #687991;
    border-radius: 50%;
    background: transparent;
    opacity: .6;
    filter: alpha(opacity=60);
    z-index: 1000000;
    display: none;
}
.back-to-top-box:hover {
    cursor: pointer;
    border: 2px solid #333;
}
.back-to-top-box:hover i {
    color:#333;
}
.back-to-top-box i {
    color: #687991;
}
.hide {
    display: none;
}

/* form 中的问号提醒 */
.rows .needBubbleTip{
    text-align: left;
    cursor: pointer;
}
.rows .needBubbleTip .fa{
    line-height: 30px;
    font-size: 20px;
    color: #35babf;
}
.rows .big-size-font {
    font-size: 18px;
}
#show-detail {
    cursor: pointer;
}

.pwdtips{
    line-height: 20px;
    padding:10px 5px;
    color: #666666;
    font-size: 1.1em;
}

.pwdrmd{
    line-height: 20px;
    padding:10px 5px;
    text-align: center;
    font-size: 2.2em;
}
/* 省市区 改造成一行显示 */
.area-box{
    position: relative;

}
.area-box .area-views{
    padding: 1px 10px;
    line-height: 32px;
    height: 32px;
    padding-right: 20px;
    overflow: hidden;
    border: #CCCCCC solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.area-box > .fa{
    color: #999999;
    position: absolute;
    right: 23px;
    top: 10px;
    font-size: 12px;
    display: block;
    cursor: pointer;
}
/*半成品账号 下拉图标不对齐情况处理*/
.completeAccountForm .area-box > .fa{
    color: #999999;
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 12px;
    display: block;
    cursor: pointer;
}
.area-box .areaPicker-box{
    width: 420px;
    position: absolute;
    left: 15px;
    top: 34px;
    z-index: 99999;
    border-radius:3px;
    box-shadow: 0 0 3px #999;
    background: #ffffff;
    padding: 5px 15px 10px;
    display: none;
}
.area-box .alignRight{
    left: auto;
    right: 5px;
}
.area-box  .alignCenter{
    left: auto;
    right: -50px;
}
.closePicker{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    line-height: 26px;
    box-shadow: 0 0 3px #666;
    background: #ffffff;
}
/* tab header*/
.areaPicker-box .tab-header{
    line-height: 30px;
    height: 32px;
    padding: 5px 5px 0;
    border-bottom:#4DBCB0 solid 2px;
}
.tab-header li{
    float: left;
    padding: 0px 8px;
    font-size: 14px;
    border: #CCCCCC solid 1px;
    border-bottom: 0px;
    cursor: pointer;
    line-height: 30px;
    width: auto;
    margin:0px 0px 0px 3px;
}
.tab-header li.active{
    border:#4DBCB0 solid 2px;
    border-bottom: #ffffff solid 2px;
}
.tab-header li em{
    font-style: normal;
}
.tab-header li .fa{
    color: #999999;
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: -5px;
}
/* tab list */
.areaPicker-box .area-list{
    line-height: 30px;
    display: none;
    padding-top: 10px;
}
.area-list li{
    float: left;
    width: 21%;
    height: 30px;
    overflow: hidden;
    padding: 0px 2%;
}
.area-list li a{
    color: #666;
}
.tab-content .active{
    display: block;
}
.floatLeft {
    float: left;
}
/*input 框右侧带有% input不支持after伪类,该类名要加在其父元素上*/
.input-with-percent:after {
    content: "%";
    position: absolute;
    top:9px;
    right: 25px;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
}
/*label中有默认样式的checkbox,要与右侧有段距离*/
.checkbox-in-label {
    position: relative;
    top: -1px;
    right: 5px;
}
/*文字替代input框的*/
.text-in-input-box {
    line-height: 34px;
}
/*灰色文本*/
.gray-text {
    color: #999;
}
/*浅绿色按钮*/
.btn-light-green {
    background: #f2fef7;
    color: #51a49a !important;
    border: 1px solid #51a49a;
}
.btn-light-green:hover {
    background: #a8e5df !important;
}
/*行内元素居中*/
.in-center {
    text-align: center;
}

.box-with-30-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}
.box-with-15-margin-top{
    margin-top: 15px;
}
/*蒙版*/
.mask {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    filter: alpha(opacity=50);
}
/*结果的弹出层*/
.socialInsurance-result {
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -330px;
    margin-top: -261px;
    padding: 30px 20px 0px 20px;
    border-radius: 5px;
    background: #ffffff;
    z-index: 999999;
}
.result-table > thead > tr > th,
.result-table > tbody > tr > td{
    box-sizing: border-box;
    text-align: center;
    width: 124px;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
}
.result-table-th-green-1 {
    background:#d1f3ef;
    color: #000000;
}
.result-table-th-green-2 {
    background: #baefe9;
    color: #000000;
}
.result-table-th-green-3 {
    background: #66c7bd;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    font-size: 16px !important;
}
.result-table-th-gray {
    background: #f7f7f7;
}
.result-table-th-orange {
    background: #fcda7e;
}
.result-table-result-td {
    background: #ffecb9;
}
.result-table-td-border {
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
}
.reult-table-no-border-right {
    border-right: none;
}
.result-table-with-border-left {
    border-left: 1px solid #efefef;
}
.close-span-box {
    position: relative;
}
.close-span {
    position: absolute;
    top:-46px;
    right: -36px;
    width: 38px;
    height: 38px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
}
.question-mark{
    display: inline-block;
}